.panel.panel-default
  .panel-heading
    %h4
      = link_to_if !current_page?(controller: :posters, action: :show, id: poster), poster.title, poster
      %small= link_to truncate(poster.url), poster.url

  .panel-body
    %p.lead
      = poster.description
      = link_to "[더보기]", poster.url

    %p.lead
      %i.fa.fa-bullhorn
      = poster.question

    .vote_buttons.text-center
      = link_to in_favor_poster_path(poster), method: :put, class: "btn btn-success btn-lg #{'disabled' if !user_signed_in? or poster.stand_of(current_user).try(:choice) == 'in_favor'}" do
        %i.fa.fa-thumbs-up
        %strong= poster.persisted_stands('in_favor').count
      = link_to oppose_poster_path(poster), method: :put, class: "btn btn-danger btn-lg #{'disabled' if !user_signed_in? or poster.stand_of(current_user).try(:choice) == 'oppose'}" do
        %i.fa.fa-thumbs-down
        %strong= poster.persisted_stands('oppose').count
      - if user_signed_in? and poster.has_stand_of?(current_user)
        %p
          %a(type="button" data-toggle="collapse" data-target="##{dom_id(poster)}--stat" aria-expanded="false" aria-controls="#{dom_id(poster)}--stat")
            자세히 보기
    - if user_signed_in? and poster.has_stand_of?(current_user)
      %section.collapse(id="#{dom_id(poster)}--stat")
        .panel.panel-default
          .panel-body
            %p
              이 글을 읽고 #{poster.persisted_stands.count}분이 입장을 밝혀 주셨습니다.
            - if poster.persisted_stands('in_favor').any? or poster.persisted_stands('oppose').any?
              %hr
              .row.text-center
                .col-md-5
                  .row
                    .col-md-12.bg-success
                      %strong
                        in_favor
                        &nbsp;
                        = poster.persisted_stands('in_favor').count
                        명
                  .row
                    .col-md-12
                      = poster.persisted_stands('in_favor').first(3).map { |s| s.user.email }.join(', ')
                      = "..." if poster.persisted_stands('in_favor').count > 3
                .col-md-2
                  %strong VS
                .col-md-5
                  .row
                    .col-md-12.bg-danger
                      %strong
                        = poster.persisted_stands('oppose').count
                        명
                        &nbsp;
                        oppose
                  .row
                    .col-md-12
                      = poster.persisted_stands('oppose').first(3).map { |s| s.user.email }.join(', ')
                      = "..." if poster.persisted_stands('oppose').count > 3

            - if (poster.persisted_stands('in_favor').any? or poster.persisted_stands('oppose').any?) and poster.persisted_stands('abstain').any?
              %hr
            - if poster.persisted_stands('abstain').any?
              %span.label.label-abstain
                abstain
                &nbsp;
                = poster.persisted_stands('abstain').count
                명
              %span(style='margin-left: 10px')
                = poster.persisted_stands('abstain').first(3).map { |s| s.user.email }.join(', ')
                = "..." if poster.persisted_stands('abstain').count > 2
    - else
      - if poster.persisted_stands.any?
        %section.collapse#static
          %p 이 글을 읽고 #{poster.persisted_stands.count}분이 입장을 밝혀 주셨습니다.

  .panel-footer
    .text-muted
      %i.fa.fa-user
      = poster.user.email
      님이 붙인 대자보입니다.



