.panel.panel-default
  .panel-heading
    %span.fa-stack.pull-left
      = link_to like_poster_path(poster), method: :patch, class: "btn btn-success btn-xs #{'disabled' unless poster.likable_by(current_user)}" do
        %i.fa.fa-chevron-up
          = poster.get_likes.size
      = link_to dislike_poster_path(poster), method: :patch, class: "btn btn-danger btn-xs #{'disabled' unless poster.dislikable_by(current_user)}" do
        %i.fa.fa-chevron-down
          = poster.get_dislikes.size
    %h4
      &nbsp;
      = link_to_if !current_page?(controller: :posters, action: :show, id: poster), poster.title, poster
      %small= link_to truncate(poster.url), poster.url

  - if poster.description.present? or !current_page?(controller: :posters, action: :show, id: poster)
    .panel-body
      - if poster.description.present?
        %p.lead
          = poster.description
          = link_to "[더보기]", poster.url

      - unless current_page?(controller: :posters, action: :show, id: poster)
        .text-center
          = link_to poster do
            %h4
              .label.label-info
                %i.fa.fa-users
                = poster.persisted_stands.count

  .panel-footer.text-muted
    %ul.list-inline(style='margin-bottom: 0px;')
      %li
        %i.fa.fa-user
        = poster.user.email
        님이 붙인 대자보입니다.
      - if poster.tags.present?
        %li
          %i.fa.fa-tag
          - poster.tags.split.each do |tag|
            = link_to "##{tag}", posters_path(tag: tag)



