%section.breadcrumb-wrapper
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    - if params[:tag].present?
      %li.active ##{params[:tag]}

- if Poster.tags.any? and !params[:tag].present?
  %section.bs-component
    .jumbotron
      %h4.text-center
        - Poster.tags.each do |tag|
          %strong= link_to "##{tag}", posters_path(tag: tag)

%section
  - @posters.each do |poster|
    = render poster
