.bs-component
  .jumbotron
    %h2 포스터 시작하기
    .well.bs-component
      = form_for @poster do |f|
        %fieldset
          .form-group
            = f.label :url do
              링크 주소
            - if @source.present?
              = f.hidden_field :source_id, value: @source.id
              = link_to @source.url, @source.url
            - else
              .text-muted http://까지 넣어주세요.
              = f.text_field :url, class: 'form-control'
          / .form-group
          /   = f.label :question do
          /     의견
          /   .text-muted 위에 링크에 대한 의견이나 토론 주제를 써주세요.
          /   = f.text_area :question, class: 'form-control'
          = f.hidden_field :question, value: 'none'
          .form-group
            = f.label :tags, '태그'
            .text-muted 위 링크와 연관된 태그를 넣어 주세요. 여러 태그를 넣을 때는 빈 공백을 넣어 주세요.
            = f.text_field :tags, class: 'form-control'
          - if params[:relating_poster_id]
            = f.fields_for :relatings, @poster.relatings.build do |f_relating|
              = f_relating.hidden_field :relating_id, value: params[:relating_poster_id]
          .form-group
            = f.submit class: 'btn btn-primary'
