%section.breadcrumb-wrapper
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li.active= @poster.title

%section
  = render @poster

%section
  - if @persisted_stands.any?
    %p
      이 글을 읽고 #{@persisted_stands.count}분이 입장을 밝혀 주셨습니다.
      - if user_signed_in? and @poster.has_stand_of?(current_user)
        내 입장을 보려면
        = link_to '여기', @poster.stand_of(current_user)
        를 클릭해 주세요.

  - if user_signed_in?
    - if @poster.has_stand_of?(current_user)
      - @persisted_stands.each do |stand|
        = render stand
    - else
      %p
        다른 사람들의 입장을 살펴 보시기 전에 먼저
        - if user_signed_in?
          #{current_user.email}님의
        입장을 밝혀 주세요.
        = render partial: 'stands/form', locals: {stand: @current_user_stand}

  - else
    %p 다른 사람들의 입장을 살펴 보시기 전에 먼저 로그인해 주세요.
    = link_to 'Log in', poster_path(@poster, auth: 1), class: 'btn btn-default'

