%section.breadcrumb-wrapper
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li.active= @poster.title

%section
  = render @poster

- if user_signed_in? and @poster.has_stand_of?(current_user)
  %section
    %h4 현황
    %p
      이 글을 읽고 #{@persisted_stands.count}분이 입장을 밝혀 주셨습니다.
      %button.btn.btn-xs.btn-default(type="button" data-toggle="collapse" data-target="#static" aria-expanded="false" aria-controls="collapseExample")
        자세히 보기
    .panel.panel-default.collapse#static
      .panel-body
        - if @persisted_in_favor_stands.any? or @persisted_oppose_stands.any?
          .row
            .col-xs-5
              %span.label.label-in_favor
                in_favor
                \:
                = @persisted_in_favor_stands.count
              .pull-right
                = @persisted_in_favor_stands.first(3).map { |s| s.user.email }.join(', ')
                = "..." if @persisted_in_favor_stands.count > 2
            .col-xs-2
              .text-center VS
            .col-xs-5
              = @persisted_oppose_stands.first(3).map { |s| s.user.email }.join(', ')
              .pull-right
                = "..." if @persisted_oppose_stands.count > 3
                %span.label.label-oppose
                  = @persisted_oppose_stands.count
                  \:
                  oppose
        - if (@persisted_in_favor_stands.any? or @persisted_oppose_stands.any?) and @persisted_abstain_stands.any?
          %hr
        - if @persisted_abstain_stands.any?
          %span.label.label-abstain
            abstain
            \:
            = @persisted_abstain_stands.count
          %span(style='margin-left: 10px')
            = @persisted_abstain_stands.first(3).map { |s| s.user.email }.join(', ')
            = "..." if @persisted_abstain_stands.count > 2
- else
  - if @persisted_stands.any?
    %section
      %h4 현황
      %p 이 글을 읽고 #{@persisted_stands.count}분이 입장을 밝혀 주셨습니다.
%section
  %h4
    입장
  - if user_signed_in? and @poster.has_stand_of?(current_user)
    %p
      내 입장은
      %span.label(class="label-#{@poster.stand_of(current_user).choice}")= @poster.stand_of(current_user).choice
      입니다.
      - if @poster.stand_of(current_user).reason.present?
        = link_to '보기', @poster.stand_of(current_user), class: 'btn btn-xs btn-default'
      = link_to '다듬기/바꾸기', edit_stand_path(@poster.stand_of(current_user)), class: 'btn btn-default btn-xs'

  - if user_signed_in?
    - if @poster.has_stand_of?(current_user)
      - @persisted_stands.select{|s| s.reason.present? }.each_slice(3) do |group|
        .row
          - group.each do |stand|
            .col-md-4
              = render stand
    - else
      %p
        다른 사람들의 입장을 살펴 보시기 전에 먼저
        - if user_signed_in?
          #{current_user.email}님의
        입장을 밝혀 주세요.
        = render partial: 'stands/form', locals: {stand: @current_user_stand}
  - else
    %p 다른 사람들의 입장을 살펴 보시기 전에 먼저 로그인해 주세요.
    = link_to 'Log in', poster_path(@poster, auth: 1), class: 'btn btn-default'

