%section.breadcrumb-wrapper
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li.active= @poster.title

%section
  = render @poster

%section
  - if @persisted_stands.any?
    %p #{@persisted_stands.count}명이 이 글을 읽고 입장을 밝혀 주셨습니다.

  - if user_signed_in? and @poster.has_stand_of?(current_user)
    .list-group
      - @poster.comments.latest.each do |comment|
        .list-group-item{id: dom_id(comment)}
          .list-group-item-heading
            %i.glyphicon.glyphicon-user
            = comment.user.email
            - if comment.is_first?
              - if comment.version.is_first?
                %span.label.label-new new
              - else
                %span.label(class="label-#{comment.version.previous.choice}")= comment.version.previous.choice
                %i.glyphicon.glyphicon-arrow-right
            %span.label(class="label-#{comment.version.choice}")= comment.version.choice

          .list-group-item-text
            %pre= comment.body
            .text-muted
              .pull-right

                = comment.created_at
              .clearfix
  - else
    %p
      다른 사람들의 입장을 살펴 보시기 전에 먼저
      - if user_signed_in?
        #{current_user.email}님의
      입장을 밝혀 주세요.

%section
- if user_signed_in?
  - if @current_user_stand.persisted?
    %p
      이 글에 대해 #{current_user.email}는
      %span.label(class="label-#{@current_user_stand.current_version.choice}")= @current_user_stand.current_version.choice
      합니다.
    = form_for [@current_user_stand, @current_user_stand.versions.build] do |f|
      = render partial: 'shared/error_messages', locals: {object: f.object}
      = render partial: 'versions/form', locals: {poster: @poster, f: f}
  - else
    %p 이 글에 대해 #{current_user.email}는 이런 입장입니다.
    = form_for [@poster, @current_user_stand] do |f|
      = render partial: 'shared/error_messages', locals: { object: @current_user_stand }
      = f.fields_for :versions, @current_user_stand.versions.build do |f_version|
        = render partial: 'versions/form', locals: {poster: @poster, f: f_version}
- else
  %p 이 글에 대한 당신의 입장은 무엇인가요?
  = link_to 'Log in', poster_path(@poster, auth: 1), class: 'btn btn-default'

