.panel.panel-default{id: dom_id(stand)}
  .panel-heading
    .text-muted.pull-right
      = link_to('고치기', edit_stand_path(stand), class: 'btn btn-default btn-xs') if current_user == stand.user
      = stand.updated_at
    %i.glyphicon.glyphicon-user
    = stand.user.email
    은
    - if stand.current_version.change_choice?
      %span.label(class="label-#{stand.previous_version.choice}")= stand.previous_version.choice
      %i.glyphicon.glyphicon-arrow-right
    %span.label(class="label-#{stand.choice}")= stand.choice
    합니다.
  .panel-body(style="white-space: pre;")= preserve stand.reason
  .panel-body
    .panel.panel-default
      %ul.list-group
        %li.list-group-item
          = render partial: 'comments/form', locals: { stand: stand }
        - stand.statuses.each do |status|
          = render status
