.panel.panel-default{id: dom_id(stand)}
  .panel-heading
    .text-muted.pull-right
      - if current_user == stand.user
        = link_to '입장 다듬기/바꾸기', edit_stand_path(stand), class: 'btn btn-default btn-xs'
      - else
        - if !stand.supported?(current_user)
          = link_to supports_path(target_id: stand), method: :post, class: 'btn btn-default btn-xs' do
            지지하기
            %span.badge= stand.supporteds.count
        - else
          = link_to support_path(stand.supported(current_user)), method: :delete, class: 'btn btn-default btn-xs' do
            지지철회
            %span.badge= stand.supporteds.count
      = link_to stand.updated_at, stand
    %i.glyphicon.glyphicon-user
    - if current_user == stand.user
      나는
    - else
      = stand.user.email
      은
    - if stand.current_version.change_choice?
      %span.label(class="label-#{stand.previous_version.choice}")= stand.previous_version.choice
      %i.glyphicon.glyphicon-arrow-right
    %span.label(class="label-#{stand.choice}")= stand.choice
    합니다.

  .panel-body
    %h5 이유는 아래와 같습니다.
    %p(style="white-space: pre;")= preserve stand.reason

  %ul.list-group
    %li.list-group-item
      = render partial: 'comments/form', locals: { stand: stand }
    - if current_page?(controller: :stands, action: :show, id: stand)
      - stand.statuses.each do |status|
        = render partial: status, locals: { stand: stand }
    - else
      - stand.statuses.first(2).each do |status|
        = render partial: status, locals: { stand: stand }
      - if stand.statuses.size > 2
        %li.list-group-item
          = link_to '더보기 >>', stand
